.square{
   width: 400px;
   height: 600px;
   float: left;
}
.title{
   font-size: 22px;margin:20px auto
}
.game{
   width: 200px;
   height: 400px;
   background-color: #f2fAff;
   border: 1px solid blue;
   border-top: 0;
   position: relative;
   float: left;
}
.next{
   width: 80px;height: 80px;
   background-color: #f2fAff;
   position: relative;
   float: left;
   border: 1px solid blue;
   margin-left: 40px
}
.info{
   position: relative;
   float: left;font-size: 14px;
   margin-left: 40px;margin-top: 10px;
}
.none, .current, .done{ /* 方块公共样式 */
   width: 20px;height: 20px;
   position: absolute;
   box-sizing: border-box;
}
.none{ /* 不显示的方块 */
   background-color: #f2fAff;
}
.current {
   /* 用户操作的方块样式 */
   background-color: pink;
   border: 1px solid red;
}
.done {  /* 下落的方块样式 */
   background-color: gray;
   border: 1px solid black;
}
.gameover {
   color: red;
   font-weight: bold;
}